// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// font family
$font-montserrat: 'Montserrat', sans-serif;

// color
$color-primary-yellow: #ffd020;
$color-mine-shaft: #1F1F1F;
$color-mako: #404248;
$color-boulder: #7A7A7A;
$color-alabaster: #F9F9F9;
$color-dove-grey: #666666;
$color-shark: #24292E;
$color-facebook: #3B5998;
$color-twitter: #00ACEE;
$color-youtube: #FF0000;
$color-linkedin: #0077B5;
$color-instagram: #2C4d6D;
